vllm==0.5.1
transformers
fastapi==0.108.0
torch
jax
pydantic[email]==2.5.3
uvicorn[standard]==0.20.0
datasets
accelerate
attrdict
tqdm
bitsandbytes
peft
pytest==7.2.1
hydra-core==1.3.2
omegaconf==2.3.0
mock==5.1.0
numpy
aiosqlite==0.20.0
openai
trl
packaging==23.2
ninja==1.11.1.1
scipy
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.5
wandb==0.16.0
googlesearch-python
scrapy
html2text
trafilatura
litellm
tenacity
beautifulsoup4
lxml[html_clean]
human_eval
charset-normalizer==3.3.2
pymupdf==1.24.5
pymupdf4llm==0.0.5
nougat-ocr==0.1.17
llama-index